<footer>
    <section class="footer-box">
        <div class="social"><a href="https://www.facebook.com/profile.php?id=100085285564683" style="color: white; text-decoration: none;"><i class="fab fa-facebook"></i></a></div>
        <div class="social"><a href="twitter.com/esushi8" style="color: white; text-decoration: none;"><i class="fab fa-twitter"></i></a></div>
        <div class="social"><a href="https://www.instagram.com/e_sushi.dh/" style="color: white; text-decoration: none;"><i class="fab fa-instagram"></i></a></div>
    </section>
    <p class="footer-text"> Todo el contenido del sitio web (menu, fotografías, información) es propiedad intelectual de E-Sushi.
        Queda prohibida cualquier copia o reproducción. Ley 11.723.
    </p>
</footer>