<header>
   
        <main class="header-caja-madre">
         <a href="/"><img class="logo" src="/images/logo-e-sushi.png" alt="Logo" ></a>               
         <section class="navbar">
             <ul style="list-style: none;">
                 <li><a href="/menu">Menu</a></li>
                 <li><a href="/eventos">Eventos</a></li>
                 <li><a href="/login">Iniciar Sesión</a></li>
             </ul>
         </section>
            <div class="burger-menu">
                <button class="burger"><i class="fa-solid fa-bars"></i></button>
            </div>
     </main>
     

 </header>

 