<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="products">
            <article>
                <div class="information">
                    <img src="./images/FOTOSUSHI13.jpeg" alt="compra" class="photo_cart" width="100px" height="100px">
                    <p class="name">Sushi </p>
                    <p class="price">$5.000</p>
                    <p class="delivery">¡Envio Gratis!</p>
                    <p class="quantitiy">2</p>
                </div>
            </article>
            <article>
                <div class="information">
                    <img src="./images/FOTOSUSHI8.jpeg" alt="compra" class="photo_cart" width="100px" height="100px">
                    <p class="name">Sushi </p>
                    <p class="price">$5.000</p>
                    <p class="delivery">¡Envio Gratis!</p>
                    <p class="quantitiy">2</p>
                </div>
            </article>
            <article>
                <div class="information">
                    <img src="./images/FOTOSUSHI5.jpeg" alt="compra" class="photo_cart" width="100px" height="100px">
                    <p class="name">Pack sushi </p>
                    <p class="price">$8.750</p>
                    <p class="delivery">¡Envio Gratis!</p>
                    <p class="quantitiy">1</p>
                </div>

            </article>
        </div>
        <div class="cart_final">
            <i class="fa-solid fa-cart-shopping"></i>
            <h2 >Precio total a pagar: 28.750</h2>
        </div>
        <div class="pay">
            <input type="submit" value="Pagar" class="button" >
            <input type="submit" value="Vaciar carrito" class="button_red" >
        </div>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/boton-flotante') %>
</body>
</html>   
