<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body id="body-index">
    <%- include('./partials/header') %>
    <main>
      <div class="texto-contacto">
        <h2 class="h2-contacto">CONTACTO</h2>
        <div class="division-texto-contacto">
          <p class="p-contacto-1">
            Consultas:<br>
            info@esushi.com.ar<br>
            Eventos:<br>
            catering@esushi.com.ar</p>
          <p class="p-contacto-2">
            Telefono:<br>
            +54 11 4797 0296<br>
            Whatsapp:<br>
            +54 9 11 6005 6227
          </p>
        </div>
      </div>
      <img class="img-contacto" src="/images/Foto-banner-contacto.jpg">
    </main>



    <%- include('./partials/footer') %>
    <%- include('./partials/boton-flotante') %>
</body>
</html>