<%- include('./partials/head') %>

<body id="box-edit" class="background-image">
    <%- include('./partials/header') %>

<body>
    <main> <section class="main-eventos">
    </div>
    <div class="eventos-img">
      <img src="/images/Foto-eventos.jpg" width="100%" height="100%">
    </div>
    <div class="eventos-texto">
      <h3 id="eventos-titulo">EVENTOS</h3>
      <p id="eventos-p">E-Sushi está disponible para organizar su evento en su casa , empresa u
        embajada. Armamos un menú y un servicio especialmente adaptados para sus
        necesidades individuales.
        Para armar su evento particular y recibir una cotización detallada para una empresa o
        embajada, por favor comuníquense con nuestro email dedicado.</p>
    </div>
  </section></main>
</body>



    <%- include('./partials/footer') %>