<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    
     <main>
        <section class="home-section1">
            <img src="./images/FOTOSUSHI13.jpeg" alt="sushi home" >
            <h1>La calidad por excelencia. Productos frescos del día. Presentación. Sabor.</h1>
        </section class="home-section2">
            <h2>Nosotros</h2>
            <p>Nuestro sushi es elaborado artesanalmente en el momento, con ingredientes frescos y seleccionados día a día. Buscamos desprendernos de las propuestas tradicionales, sin caer en una sofisticación extrema que nos transforme en un sushi para pocos.</p>
        <section>

        </section>
         </main>
         <br>
         <%- include('./partials/footer') %>
</body>
</html>