<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>
<body class="body-menu">
    <%- include('./partials/header') %>
<main>
    <section class="menu">
        <div class="blackbg">
                <article class="productos">
                   <h2>Tablas combinadas</h2>
                    <p class="descripcion-productos">La combinación perfecta</p>
                        <div class="imagen-producto-menu">
                            <img class="imagen-producto" id="combinadas" src="/images/combinado.webp" alt="imagen-tablas-combinadas">
                        </div> 
                </article>
                <article class="productos">
                    <h2>Rolls</h2>
                    <p class="descripcion-productos">Uno especial para cada momento</p>
                    <div class="imagen-producto-menu">
                    <img class="imagen-producto" src="/images/Calofornia Roll.jpg" alt="imagen-rolls">   
                    </div>
                </article>
                <article class="productos">
                    <h2>Menu ejecutivo</h2>
                    <p class="descripcion-productos">Una opción rápida pero mágica</p>
                    <div class="imagen-producto-menu">
                    <img class="imagen-producto" id="ejecutivo" src="/images/FOTOSUSHI6.jpeg" alt="imagen-ejecutivo">   
                    </div>
                </article>
                <article class="productos">
                    <h2>Geishas</h2>
                    <p class="descripcion-productos">Sabor inigualable</p>
                <div class="imagen-producto-menu">
                    <img class="imagen-producto" src="/images/geisha.jpg" alt="imagen-geishas">   
                </div>
                </article>
            </div>
            <br>
            <div class="whitebg">
                <article class="productos">
                    <h2>Niguiris</h2>
                    <p class="descripcion-productos">La especialidad de la casa</p>
                    <div class="imagen-producto-menu">
                    <img class="imagen-producto" src="/images/nigiri png.png" alt="imagen-niguiris">   
                    </div>
                </article>
                <article class="productos">
                    <h2>Sashimis</h2>
                    <p class="descripcion-productos">El corazón de Japón en tu mesa</p>
                    <div class="imagen-producto-menu">
                    <img class="imagen-producto" src="/images/Sashimo.jpg" alt="imagen-sashimis">   
                    </div>
                </article>
                <article class="productos">
                    <h2>Entradas</h2>
                    <p class="descripcion-productos">Para probar de todo un poco</p>
                    <div class="imagen-producto-menu">
                    <img class="imagen-producto" id="entradas" src="/images/Entrada.webp" alt="imagen-entradas">   
                    </div>
                </article>
                <article class="productos">
                    <h2>Veggies</h2>
                    <p class="descripcion-productos">Opciones para tod@s</p>
                    <div class="imagen-producto-menu">
                    <img class="imagen-producto" src="/images/Veggie png.png" alt="imagen-veggies">   
                    </div>
                </article>
            </div>
        </section>
       
        
        
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/boton-flotante') %>
</body>
</html>