<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
<body class="body-menu">
    <%- include('./partials/header') %>
<main>
    <section class="menu">
        <div class="blackbg">
                <article class="productos">
                   <h2>Tablas combinadas</h2>
                    <p class="descripcion-productos">descripcion</p>
                        <img  class="imagen-producto" src="/images/FOTOSUSHI6.jpeg" alt="imagen-tablas-combinadas"> 
                    <button class="ver-mas-boton">Ver mas </i></button>
                </article>
                <article class="productos">
                    <h2>Rolls</h2>
                    <p class="descripcion-productos">descripcion</p>
                    <img class="imagen-producto" src="/images/FOTOSUSHI6.jpeg" alt="imagen-rolls">   
                    <button class="ver-mas-boton" >Ver mas </i></button>
                </article>
                <article class="productos">
                    <h2>Menu ejecutivo</h2>
                    <p class="descripcion-productos">descripcion</p>
                    <img class="imagen-producto" src="/images/FOTOSUSHI6.jpeg" alt="imagen-ejecutivo">   
                    <button class="ver-mas-boton">Ver mas </i></button>
                </article>
                <article class="productos">
                    <h2>Geishas</h2>
                    <p class="descripcion-productos">descripcion</p>
                    <img class="imagen-producto" src="/images/FOTOSUSHI6.jpeg" alt="imagen-geishas">   
                    <button class="ver-mas-boton">Ver mas </i></button>
                </article>
            </div>
            <br>
            <div class="whitebg">
                <article class="productos">
                    <h2>Niguiris</h2>
                    <p class="descripcion-productos">descripcion</p>
                    <img class="imagen-producto" src="/images/FOTOSUSHI6.jpeg" alt="imagen-niguiris">   
                    <button class="ver-mas-boton">Ver mas </i></button>
                </article>
                <article class="productos">
                    <h2>Sashimis</h2>
                    <p class="descripcion-productos">descripcion</p>
                    <img class="imagen-producto" src="/images/FOTOSUSHI6.jpeg" alt="imagen-sashimis">   
                    <button class="ver-mas-boton">Ver mas </i></button>
                </article>
                <article class="productos">
                    <h2>Entradas</h2>
                    <p class="descripcion-productos">descripcion</p>
                    <img class="imagen-producto" src="/images/FOTOSUSHI6.jpeg" alt="imagen-entradas">   
                    <button class="ver-mas-boton">Ver mas </i></button>
                </article>
                <article class="productos">
                    <h2>Veggies</h2>
                    <p class="descripcion-productos">descripcion</p>
                    <img class="imagen-producto" src="/images/FOTOSUSHI6.jpeg" alt="imagen-veggies">   
                    <button class="ver-mas-boton">Ver mas </i></button>
                </article>
            </div>
        </section>
       
        
        
    </main>
    <%- include('./partials/footer') %>
</body>
</html>