<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body id="box-error">
    <%- include('./partials/header') %>
    <main>
        <h1 class="error-h1">Error 404: no pudimos encontrar la pagina que estas buscando</h1>
        <img class="img-error" src="/images/404sushicry.png" alt="imagen-404" width="100%" height="100%"> 
        <a href="/menu">
        <button id="button-profile-menu"><strong> volver al menu?</strong></button>
        </a>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/boton-flotante') %>
</body>
</html>