<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body >
    <%- include('./partials/header') %>
    <main>
        <h1>Error 404: no pudimos encontrar la pagina que estas buscando</h1>
        <img src="/images/404sushicry.png" alt="imagen-404"> 
        <h2>Deseas volver al menu?</h2>
        <a href="/menu"></a>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/boton-flotante') %>
</body>
</html>