<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main></main>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/boton-flotante') %>
</body>
</html>