<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body class="background-image-profile">
    <%- include('./partials/header') %>
    <main>
    <h2 id="text-profile">¡Bienvenid@!</h2>
    <div id="div-profile-menu">
        <div class="carta">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
            <h4 class="nombre-usuario">NOMBRE USUARIO</h4>
            </div>
        </div>
    </div>                    
    <a href="/menu">
    <button id="button-profile-menu"><strong>Realiza tu pedido</strong></button>
    </a>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/boton-flotante') %>
</body>
</html>