header{
    background-color: black;
    color: white;
    position: sticky;
    top:0%;
    left: 0%;
    right: 0%;
    z-index: 3;
}
.burger-menu{
    padding-bottom: 10px;
    text-align: center;
}
.burger{
    color: white;
    background-color: black;
    font-size: 2em;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
}

.navbar{
    display: none;
}



footer p{
    color: white;
    font-style: italic;
    font-weight: lighter;
}

.social{
    font-size: 2em;
    margin-left: 5%;
}

.boton-pedido{
    background-color: black;
    color: white;
    border: solid 1px darkred;
    border-radius: 50%;
    position: absolute;
    right: 4%;
    top: -30%;
    z-index: 3;
    width: 80px;
    height: 80px;
}
.footer-box{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 35%;
    height: 100%;
    padding: 0%;
    margin: 0;
} 
.log-in{
  
    padding: 5px;
    flex-wrap: wrap;
   display: flex;
   width: 80%;
   margin: auto;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
  
   height: 100%;

}
.ingresar{
    align-items: center;
    height: 100%;
    background-color: gainsboro;
    justify-content: center;
    margin: auto;
    text-align: center;
   
    padding: 15px;
    margin-top: 5px;
    width: 100%;
    height: 100%;
}
.llenar{
 align-items: center;
 justify-content: center;
 padding: 10px;
 text-align: center;
 width: 70%;
 border: none;
 display: flex;

 margin: auto;
 margin-top: 10px;
}
footer{
position: absolute;
bottom: 0;
right: 0;
left: 0;
width: 100%;
padding-bottom: 10px;
background-color: black;
justify-content: center;
text-align: center;
align-items: center;

}
.enviar-boton{
    margin: 10px;
}
.registro{
    color: red;
    text-decoration: none;
    padding: 3px;
}
.eventos-texto{
    text-align: center;
}
.facebook-boton{
justify-content: center;
margin-top:10px;
font-size: 10px;
text-align: center;
align-items: center;
background-color: blue;
width: 73%;
color: white;
padding: 10px;
border: none;
display: flex;
margin: auto;
gap: 7px;
}

@media (min-width: 768px) {

    .burger{
        display:none
    }
    .header-caja-madre{
        display: flex;
        justify-content: space-between;
    }
    .navbar{
        display:inline;
        margin-right: 15px;
    }
    .navbar li{
        display: inline;
    }
    .main-eventos{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .eventos-texto{
        width: 50%;
        display: block;
    }
    .eventos-img{
        width: 50%;
    }
 .background-login{
        background-image: url(/grupo_8_e-sushi/public/images/sushi-fondo.jpeg);
        background-attachment: fixed;
    }


}