body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html{
 position: relative;
}

main{
    margin-bottom: 150px;
    margin-top: 150px;
}

header{
    background-color: black;
    color: white;
    position: sticky;
   
    z-index: 3;
    width: 100%;
    max-height: 250px;
}
.header-mobile{
    display: flex;
    justify-content: space-around;  
    height: 100%;  
   margin: auto;
}
.burger-menu{
    text-align: center;
  
    width: 30%;
    right: 30px;
    
}
.header-caja-madre{
   align-items: center;
   display: flex;
   justify-content: space-around; 
   margin: auto;
   position: fixed;  
   max-height: 150px;
   background-color: #000000;
   width: 100%;
}

article{
    width: 90%;
    margin: 0 auto;
}

.body-menu{
    background-color: black;
}
 .imagen-producto{
    width: 90%;
    margin:  auto;
    text-align: center;
    margin: 10px
 }

 .blackbg{
     background-color: black;
     color: #ebebeb;
     background-color: black;
 }
 .whitebg{
     background-color: white;
     padding-bottom: 10px;
 }
 .productos{
    text-align: center;
 }
body{
    margin: 0;
    padding: 0;
}

.burger{
    color: white;
    background-color: black;
    font-size: 2em;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    width: 20%;
    right: 40px;
}

.navbar{
    display: none;
}
.blackbg .ver-mas-boton {
    background-color: #000000;
    border-right:solid white;
    border-left: white solid ;
    color: white;
    border-top: none;
    border-bottom: none;
}
.whitebg .ver-mas-boton {
    background-color: #ffffff;
    border-right:solid #000000;
    border-left: #000000 solid ;
    color: #000000;
    border-top: none;
    border-bottom: none;
}
footer p{
    color: white;
    font-style: italic;
    font-weight: lighter;
}

.social{
    font-size: 2em;
    margin-left: 5%;
}
.boton-flotante{
   position: fixed;
    z-index: 56;
    right: 50px;
    bottom: 120px;
}
.boton-pedido{
    display: block;
    cursor: pointer;
    background-color: black;
    color: white;
    border: solid 1px darkred;
    border-radius: 50%;
    width: 80px;
    height: 80px;   
}

.footer-box{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 150px;
    height: 150px;
    padding: 0%;
    margin: auto;
    
} 
.log-in{
  
    padding: 5px;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  
   height: 100%;

}
.ingresar{
    align-items: center;
    height: 100%;
    background-color: gainsboro;
    justify-content: center;
    margin: auto;
    text-align: center;
   
    padding: 15px;
    margin-top: 5px;
    width: 100%;
    height: 100%;
}
.llenar{
 align-items: center;
 justify-content: center;
 padding: 10px;
 text-align: center;
 width: 70%;
 border: none;
 display: flex;

 margin: auto;
 margin-top: 10px;
}

footer{
width: 100%;
padding-bottom: 10px;
background-color: black;
justify-content: center;
text-align: center;
align-items: center;
bottom: 0;
left: 0;
position: absolute;
max-height: 250px;
margin-top: auto;
}
.enviar-boton{
    margin: 10px;
}
#registro-titulo{
    padding-top: 10px;
}
.registro{
    color: red;
    text-decoration: none;
    padding: 3px;
}
.eventos-texto{
    text-align: center;
}
.facebook-boton{
justify-content: center;
margin-top:10px;
font-size: 10px;
text-align: center;
align-items: center;
background-color: blue;
width: 73%;
color: white;
padding: 10px;
border: none;
display: flex;
margin: auto;
gap: 7px;
}

.registro-full{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ebebeb;
    text-align: center;
}
.login-full{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ebebeb;
    text-align: center;
}
#registro-facebook{
    justify-content: center;
    margin-top:10px;
    font-size: 10px;
    text-align: center;
    align-items: center;
    background-color: blue;
    width: 73%;
    color: white;
    padding: 10px;
    border: none;
    display: flex;
    margin: auto;
    gap: 7px;
}
#registro-name{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    width: 60%;
}
#registro-mail{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    width: 60%;
}
#registro-mail-2{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    width: 60%;
}
#registro-password{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    width: 60%;
}
#registro-p{
    font-size: 12px;
}
#registro-button{
    padding: 15px;
    color: white;
    background-color: black;
    border: none;
    width: 70%;
    width: 60%;
    margin-bottom: 5px;
}

.products{
    margin-left: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: auto;
}
#combinadas{
    padding-top: 20px;
    padding-bottom: 20px;
}
#ejecutivo{
    padding-bottom: 15px;
}
#entradas{
    padding-bottom: 45px;
}
.information{
    width: 175%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
    margin-right: 175px;

}
.name{
    width: 10%;
    margin-left: 2%;
    text-align: center;
}
.price{
    width: 10%;
    text-align: center;
}
.delivery{
    width: 10%;
    text-align: center;
}
.quantitiy{
    width: 10%;
    background-color: #b3b6b2f6;
    text-align: center;
}

.cart_final{
    text-align: left;
    margin-left: 1%;
}
.pay{
    text-align: right;
    margin-bottom: 40px;
    margin-right: 3%;

}
.button{
    background-color: #000000;
    color: white;
    position: relative;
    right: 13%;
    outline: none;
    border-radius: 10px;

}

.button_red{
    background-color: rgb(182, 13, 13);
    color: white;
    position: relative;
    right: 13%;
    outline: none;
    border-radius: 10px;
    margin-left: 1%;

}
.home-section1{
    width: 100%;
    position: relative;
}

.home-section1 img {
    width: 100%;
    height: 100%;
}

.home-section1 h1{
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 50%;
    color: #ebebeb;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    transform: translate( -50%, -50%);
    box-sizing: border-box;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-section2{
    width: 90%;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
}
.products-title{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    width: 60%;
    padding-top: 10px;
}
.form-input-edit{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    width: 60%;
}
.buy-now-button-edit{
    padding: 15px;
    color: white;
    background-color: black;
    border: none;
    width: 70%;
    width: 60%;
    margin-bottom: 5px;
}
.buy-now-button-delete{
    padding: 5px;
    color: white;
    background-color: #800000;
    border: none;
    width: 40%;
    margin-bottom: 5px;
}
#box-edit{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ebebeb;
    text-align: center;
    margin-bottom: 10px;
}
#titular-edit{
    text-align: center;
    width: 100%;
}
.descripcion-edit{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.form-edit{
    padding: 5px;
}
.image-edit{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    padding-top: 10px;
}
.background-image{
    background-image: url(/images/_DSC5277.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.background-image-profile{
    background-image: url(/images/FOTOSUSHI13.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.form-group{
    margin-bottom: 10px;
}
#text-profile{
    margin-top: 100px;
    color: white;
    text-align: center;
}
#button-profile-menu{
    padding: 10px;
    color: white;
    background-color: #800000;
    border: none;
    margin-bottom: 5px;
    border-radius: 15px;
}
#div-profile-menu{
    margin-top: 50px;
    display: flex;        
    justify-content: center;
}
@media (min-width: 768px) {

    header{
        max-height: 180px;
    }

    .burger-menu{
        display:none
    }
    .header-caja-madre{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .navbar{
        margin-right: 15px;
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }
    .navbar li {
        color: white;
        display:inline;
        margin: 0 15px;
    }
    .navbar li :hover{
        transition: all 400ms;
        color: red;
        border-bottom: red solid;
    }
    .navbar a{
        color: white;
        text-decoration: none; 
    }

    .main-eventos{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .eventos-texto{
        width: 50%;
        display: block;
        color: #fff;
        margin: auto;
        padding: 10px;
    }
    .eventos-img{
        width: 50%;
    }
    .body-eventos{
        background-color: #000000;
    }
 .background-login{
        background-image: url(/grupo_8_e-sushi/public/images/sushi-fondo.jpeg);
        background-attachment: fixed;
    }
.blackbg{
width: 100%;
display: flex;
flex-wrap: wrap;
gap: 4%;
justify-content: center;
}

.whitebg{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: center;
    }

.productos{
    width: 40%;
    gap: 7px;
    text-align: center;
}
#main-edit{
    align-items: center;
    align-content: center;
    justify-content: center;
}
#box-edit{
    width: 45%;
    margin: 0 auto;
}
}
